###Pandas

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# Assignment 1: DataFrame Creation and Indexing

# 1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
arr = np.random.randint(1,20, size=(6,4))
df = pd.DataFrame(arr)
print("Array 1: \n",df)

# 2. Create a Pandas DataFrame with columns `'A'`, `'B'`, `'C'` and index `'X'`, `'Y'`, `'Z'`. Fill the DataFrame with random integers and access the element at row `'Y'` and column `'B'`.
data = np.random.randint(1,100, size=(3,3))
df = pd.DataFrame(data,columns=['A','B','C'],index=['x','Y','Z'])
print("\nCustomized array: \n",df)
value = df.iloc[1,1]
print("\nValue at Y X B: \n",value)

Array 1:
     0   1   2   3
0  10  13  14   9
1  12   7  10  17
2  19   8   1   6
3   4   6   4   4
4  18  18   1   8
5  13  11  14   2

Customized array:
     A   B   C
x  17  11  20
Y  41  24  18
Z  47  48  11

Value at Y X B:
 24

In [27]:
# Assignment 2: DataFrame Operations

# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
data = np.random.randint(1,20, size=(5,3))
df = pd.DataFrame(data)
print("Original Array: \n", df)

df['Product'] = df[0] * df[1]
print("\n Manipulated array: \n",df)


# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
data1 = np.random.randint(1,20, size=(4,3))
df1 = pd.DataFrame(data1,columns=['A','B','C'], index=['P','Q','R','S'])
print("\nOriginal Array: \n", df1)

df1['Row_Wise'] = df1.sum(axis=1)
df1['Coloumn_wise'] = df1.sum(axis=1)
print("\n Updated Array: \n",df1)

Original Array:
     0   1   2
0  10  16  19
1  11  13   4
2  19   4   9
3   3  18   2
4  15   4  17

 Manipulated array:
     0   1   2  Product
0  10  16  19      160
1  11  13   4      143
2  19   4   9       76
3   3  18   2       54
4  15   4  17       60

Original Array:
     A   B   C
P  18   1  19
Q  17  10  11
R  15   8  14
S  14  16  17

 Updated Array:
     A   B   C  Row_Wise  Coloumn_wise
P  18   1  19        38            76
Q  17  10  11        38            76
R  15   8  14        37            74
S  14  16  17        47            94

In [ ]:
#Assignment 3: Data Cleaning

# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
data = np.random.randint(1,20, size=(5,3))
df = pd.DataFrame(data)
print("\n Original array:  \n",df)
df[df > 8] = np.nan
print("\n Array with NaN values: \n",df)
df = df.fillna(df.mean())
print("\n NaN values replaced with mean of numbers: \n",df)




# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.
data1 = np.random.randint(1,20, size=(6,4))
df1 = pd.DataFrame(data1)
print("\n Original array: \n")
df1[df1 > 18] = np.nan
print("\nNan: \n",df1)
df1 = df1.dropna()
print("\nModified Array: \n",df1)

 Original array:


Nan:
       0     1     2   3
0  15.0   NaN   6.0   3
1  12.0   4.0  16.0  17
2   NaN   1.0   4.0   3
3   NaN  18.0   NaN   4
4   7.0  12.0  12.0   2
5  10.0  18.0   NaN  15

Modified Array:
       0     1     2   3
1  12.0   4.0  16.0  17
4   7.0  12.0  12.0   2

In [ ]:
# Assignment 4: Data Aggregation

# 1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
data ={
    'Category':['A','B','C'],
    'Value':[15,20,6]
}
df = pd.DataFrame(data)
print("\nOriginal Dataframe: \n",df)
result  = df.groupby('Category')['Value'].agg(['sum','mean'])
print("\n\n",result)

# 2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category

data1 = {
    'Product':['Cleanser','Serum','Sunscreen'],
    'Category':['Refresher','Treatment','Protection'],
    'Sales':[16000,30000,56000]
}
df1 = pd.DataFrame(data1)
print("\nDataframe1: \n",df1)
total_sales = df1.groupby('Category')['Sales'].sum()
print("\nCategory wise product sales: \n",total_sales)

Original Dataframe:
   Category  Value
0        A     15
1        B     20
2        C      6


           sum  mean
Category
A          15  15.0
B          20  20.0
C           6   6.0

Dataframe1:
      Product    Category  Sales
0   Cleanser   Refresher  16000
1      Serum   Treatment  30000
2  Sunscreen  Protection  56000

Category wise product sales:
 Category
Protection    56000
Refresher     16000
Treatment     30000
Name: Sales, dtype: int64

In [10]:
# Assignment 5: Merging DataFrames

# # 1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column
# data1 = {
#     'Name':['Laliyo','Munna','Singham'],
#     'Roll_No':[1,2,3]
# }
# data2 = {
#     'Name':['Laliyo','Munna','Singham'],
#     'Hobby':['Football',"Rifle Shooting","Running"]
# }
# index = [1,2,3]
# df1 = pd.DataFrame(data1)
# df2 = pd.DataFrame(data2)
# print("Dataframe 1 : \n",df1)
# print("\nDataframe 2: \n",df2)

# merged_dataframe  = pd.merge(df1,df2,on="Name")
# print("\nMerged Data frame using 'Name' Colomn: \n\n",merged_dataframe)


# 2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.
data_i = {
    'Name':['Laliyo','Munna','Singham'],
    'Roll_No':[1,2,3]
}
data_ii = {
    'Hobby':['Football',"Rifle Shooting","Running"],
    'Marks':[86,67,90]
}
df_i = pd.DataFrame(data_i)
df_ii = pd.DataFrame(data_ii)

concatenate_rows = pd.concat([df_i,df_ii],axis=0)
concatenate_columns = pd.concat([df_i,df_ii],axis=1)

print("\nRow wise concatenation: \n",df_i)
print("\nColumn wise concatenation: \n",df_ii)

Row wise concatenation:
       Name  Roll_No
0   Laliyo        1
1    Munna        2
2  Singham        3

Column wise concatenation:
             Hobby  Marks
0        Football     86
1  Rifle Shooting     67
2         Running     90

In [12]:
# Assignment 6: Time Series Analysis

# Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
date_range = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame({
    'value': np.random.randint(0, 100, size=len(date_range))
}, index=date_range)
monthly_mean = df.resample('M').mean()
print("Monthly Mean:")
print(monthly_mean)

# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.
df['rolling_mean_7d'] = df['value'].rolling(window=7).mean()
print("Data with Rolling Mean:")
print(df.head(14))  # Show two weeks of data to see the rolling effect

Monthly Mean:
                value
2021-01-31  47.000000
2021-02-28  46.214286
2021-03-31  48.935484
2021-04-30  62.333333
2021-05-31  43.000000
2021-06-30  45.133333
2021-07-31  51.903226
2021-08-31  42.548387
2021-09-30  49.600000
2021-10-31  46.000000
2021-11-30  47.433333
2021-12-31  44.612903
Data with Rolling Mean:
            value  rolling_mean_7d
2021-01-01     88              NaN
2021-01-02     53              NaN
2021-01-03     30              NaN
2021-01-04     63              NaN
2021-01-05     61              NaN
2021-01-06      9              NaN
2021-01-07     81        55.000000
2021-01-08     98        56.428571
2021-01-09     34        53.714286
2021-01-10      0        49.428571
2021-01-11     14        42.428571
2021-01-12     88        46.285714
2021-01-13     82        56.714286
2021-01-14     40        50.857143

C:\Users\Vraj\AppData\Local\Temp\ipykernel_15696\4207352665.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()