In [1]:
import sqlite3

In [2]:
#Connection and making a database 
connection = sqlite3.connect('example.db')
connection

In [3]:
#Cursor
cursor = connection.cursor()
cursor

In [4]:
#Creating a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary key,
    name Text Not Null,
    age Integer,
    department Text
    )               
''')

#Commit
connection.commit()

In [6]:
#Inserting values
cursor.execute('''
Insert into employees(name,age,department)
VALUES ('Vraj',21,'AI/ML')                  
''')

cursor.execute('''
Insert into employees(name,age,department)
VALUES ('Ketan',24,'Cybersecurity')                  
''')

cursor.execute('''
Insert into employees(name,age,department)
VALUES ('Rahul',34,'Data Analyst')                  
''')

connection.commit()

#Selecting by fetchall

cursor.execute('select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Vraj', 21, 'AI/ML')
(2, 'Ketan', 24, 'Cybersecurity')
(3, 'Rahul', 34, 'Data Analyst')
(4, 'Vraj', 21, 'AI/ML')
(5, 'Ketan', 24, 'Cybersecurity')
(6, 'Rahul', 34, 'Data Analyst')

In [11]:
#Updating data

cursor.execute('''
Update employees
Set age='27' where name='Rahul'
''')

cursor.execute('select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)
connection.commit()

(1, 'Vraj', 21, 'AI/ML')
(2, 'Ketan', 24, 'Cybersecurity')
(3, 'Rahul', 27, 'Data Analyst')
(4, 'Vraj', 21, 'AI/ML')
(5, 'Ketan', 24, 'Cybersecurity')
(6, 'Rahul', 27, 'Data Analyst')

In [12]:
#Deleting data

cursor.execute('''
Delete from employees
Where name='Rahul'
''')

cursor.execute('select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

connection.commit()

(1, 'Vraj', 21, 'AI/ML')
(2, 'Ketan', 24, 'Cybersecurity')
(4, 'Vraj', 21, 'AI/ML')
(5, 'Ketan', 24, 'Cybersecurity')